## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN','NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 500
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < cutoff].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [4]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff = 1000
classifications_to_replace = application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() < cutoff].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [5]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,True,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [6]:
# Split our preprocessed data into our features and target arrays
y = application_df.IS_SUCCESSFUL.values
X = application_df.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [7]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [8]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_model = tf.keras.models.Sequential()
data_dim = X_train_scaled.shape[1]

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=16, activation="relu", input_dim=data_dim))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=8, activation="relu"))

# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=4, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

/opt/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 16)             │           704 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 8)              │           136 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 4)              │            36 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 1)              │             5 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 881 (3.44 KB)

 Trainable params: 881 (3.44 KB)

 Non-trainable params: 0 (0.00 B)

In [9]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [10]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 423us/step - accuracy: 0.6671 - loss: 0.6409
Epoch 2/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 411us/step - accuracy: 0.7323 - loss: 0.5799
Epoch 3/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 410us/step - accuracy: 0.7312 - loss: 0.5711
Epoch 4/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 419us/step - accuracy: 0.7313 - loss: 0.5657
Epoch 5/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 421us/step - accuracy: 0.7323 - loss: 0.5627
Epoch 6/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 413us/step - accuracy: 0.7304 - loss: 0.5606
Epoch 7/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 418us/step - accuracy: 0.7285 - loss: 0.5594
Epoch 8/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 418us/step - accuracy: 0.7323 - loss: 0.5549
Epoch 9/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 417us/step - accuracy: 0.7256 - loss: 0.5596
Epoch 10/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 425us/step - accuracy: 0.7328 - loss: 0.5519
Epoch 11/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 416us/step - accuracy: 0.7350 - loss: 0.5505
Epoch 12/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 446us/step - accuracy: 0.7328 - loss: 0.5500
Epoch 13/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 457us/step - accuracy: 0.7335 - loss: 0.5511
Epoch 14/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 491us/step - accuracy: 0.7391 - loss: 0.5478
Epoch 15/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 425us/step - accuracy: 0.7346 - loss: 0.5478
Epoch 16/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 555us/step - accuracy: 0.7372 - loss: 0.5494
Epoch 17/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 507us/step - accuracy: 0.7320 - loss: 0.5519
Epoch 18/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 495us/step - accuracy: 0.7355 - loss: 0.5485
Epoch 19/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 616us/step - accuracy: 0.7349 - loss: 0.5499
Epoch 20/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 480us/step - accuracy: 0.7348 - loss: 0.5497
Epoch 21/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 463us/step - accuracy: 0.7310 - loss: 0.5525
Epoch 22/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 459us/step - accuracy: 0.7336 - loss: 0.5483
Epoch 23/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 477us/step - accuracy: 0.7364 - loss: 0.5456
Epoch 24/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 462us/step - accuracy: 0.7331 - loss: 0.5530
Epoch 25/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 476us/step - accuracy: 0.7310 - loss: 0.5507
Epoch 26/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 482us/step - accuracy: 0.7332 - loss: 0.5471
Epoch 27/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 484us/step - accuracy: 0.7355 - loss: 0.5491
Epoch 28/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 475us/step - accuracy: 0.7412 - loss: 0.5409
Epoch 29/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 434us/step - accuracy: 0.7369 - loss: 0.5420
Epoch 30/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 432us/step - accuracy: 0.7365 - loss: 0.5442
Epoch 31/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 432us/step - accuracy: 0.7355 - loss: 0.5427
Epoch 32/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 444us/step - accuracy: 0.7346 - loss: 0.5462
Epoch 33/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 438us/step - accuracy: 0.7386 - loss: 0.5427
Epoch 34/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 437us/step - accuracy: 0.7353 - loss: 0.5459
Epoch 35/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 433us/step - accuracy: 0.7388 - loss: 0.5419
Epoch 36/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 446us/step - accuracy: 0.7361 - loss: 0.5449
Epoch 37/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 475us/step - accuracy: 0.7371 - loss: 0.5463
Epoch 38/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 466us/step - accuracy: 0.7362 - loss: 0.5458
Epoch 39/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 434us/step - accuracy: 0.7360 - loss: 0.5454
Epoch 40/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 434us/step - accuracy: 0.7366 - loss: 0.5466
Epoch 41/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 433us/step - accuracy: 0.7331 - loss: 0.5450
Epoch 42/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 435us/step - accuracy: 0.7323 - loss: 0.5477
Epoch 43/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 439us/step - accuracy: 0.7366 - loss: 0.5438
Epoch 44/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 440us/step - accuracy: 0.7421 - loss: 0.5382
Epoch 45/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 432us/step - accuracy: 0.7368 - loss: 0.5440
Epoch 46/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 431us/step - accuracy: 0.7427 - loss: 0.5376
Epoch 47/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 523us/step - accuracy: 0.7409 - loss: 0.5415
Epoch 48/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 508us/step - accuracy: 0.7375 - loss: 0.5427
Epoch 49/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 488us/step - accuracy: 0.7358 - loss: 0.5453
Epoch 50/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 478us/step - accuracy: 0.7352 - loss: 0.5472

In [11]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 551us/step - accuracy: 0.7285 - loss: 0.5542
Loss: 0.5542239546775818, Accuracy: 0.7285131216049194

In [12]:
# Export our model to HDF5 file
nn_model.save('CharitySuccessModel_opt1.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.